.header {
  padding: 5px 20px;
  background: dodgerblue;
}

.title {
  color: aliceblue;
  text-decoration: none;
}

.sign-in, .sign-up {
  float: right;
  text-decoration: none;
  color: aliceblue;
  padding-top: 10px;
  padding-right: 10px;
}
