<div class="container justify-content-center">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center mb-3 display-2 fw-normal">Sign In</h2>
    <div class="mb-3 row">
      <div class="col-2">
        <label for="username" class="col-form-label">Username:</label>
      </div>
      <div class="col-10">
        <input type="text" id="username" [formControlName]="'username'" class="form-control"
               aria-describedby="usernameHelp" required="" autofocus="">
        <div id="usernameHelp" class="form-text">Enter your username.</div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-2">
        <label for="password" class="form-label">Password:</label>
      </div>
      <div class="col-10">
        <input type="password" id="password" [formControlName]="'password'" class="form-control"
               aria-describedby="passwordHelp" required="">
        <div id="passwordHelp" class="form-text">Enter your password.</div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-2"></div>
      <div class="col-10">
        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign In</button>
      </div>
    </div>
  </form>
</div>
